body {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.myCanvas {
	display: block;
	position: relative;
	float: left;
	width: 450px;
	height: 300px;
	border: 1px solid black;
	margin: 5px 5px 5px 5px;
}
.myCanvas:nth-child(6) {
	background-color: rgba(255, 219, 206, 0.5);
}
#a9,
#a14,
#a16,
#a17,
#a20,
#a21 {
	width: 450px;
	height: 350px;
}
